@media only screen and (min-width: 600px) {

.day-weather{
	width: 660px;
	height: 524px;
	background-color: white;
	border-radius: 8px;
	margin-top: 3%;
}
}
@media only screen and (max-width: 600px) {
	.day-weather{
		width: 300px;
		height: 464px;
		background-color: white;
		border-radius: 8px;
		margin-top: 3%;
	}
}