// @media only screen and (min-width: 600px) {

	.weather{
		width: 660px;
		height: 524px;
		background-color: white;
		border-radius: 8px;
		margin-top: 3%;
		
		&__header{
			font-family: Ubuntu;
			font-style: normal;
			font-weight: bold;
			font-size: 32px;
			line-height: 32px;
			color: #2C2D76;

			padding: 0;
			margin: 0;
			margin-top: 50px;
			margin-left: 58px;
		}
		&__select{
			width: 252px;
			height: 48px;
			margin-top: 32px;
			background: rgba(128, 131, 164, 0.06);

			border: 2px solid #373AF5;
			box-sizing: border-box;
			border-radius: 8px;
		}
		&__selects{
			& >:first-child{
			margin-left: 58px;
			}
			& > :nth-child(2){
			margin-right: 58px;
			}
			display: flex;
			justify-content: space-between;
			flex-flow: wrap;

		}
		&__content{
			display: flex;
			justify-content: center;
			margin-top: 84px;
			&__temp-icon{
				background-image: url('../../assets/Placeholder/Academy-Weather-bg160.png');
				width: 160px;
				height: 160px;
				&__text{
					margin-top: 180px;
					margin-left: -100px;
					width: 438px;
					height: 24px;

					font-family: Ubuntu;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 24px;
					color: #8083A4;
				}
			}
			&__main-icon{
				width: 544px;
				height: 238px;
				background-color: #373AF5;
				border: 2px solid #373AF5;
				box-sizing: border-box;
				box-shadow: 0px 4px 4px rgba(4, 5, 73, 0.25), 14px 14px 20px rgba(5, 6, 114, 0.2);
				border-radius: 8px;
				display: flex;
				justify-content: center;
				align-items: center;
				&--icon{
					width: 160px;
					height: 160px;
				}
				&__date{
					justify-content: start;
					align-items: flex-start;
				}
			}
		}
	}
// }
@media only screen and (max-width: 600px) {
	.weather{
		width: 300px;
		height: 464px;
		background-color: white;
		border-radius: 8px;
		margin-top: 3%;
		&__header{
			margin-top: 32px;
			margin-left: 24px;
		}
		&--day-mobile{
			height: 576px;
		}
		&__select{
			width: 252px;
			height: 48px;
			margin-top: 32px;
			background: rgba(128, 131, 164, 0.06);

			border: 2px solid #373AF5;
			box-sizing: border-box;
			border-radius: 8px;
		}
		&__selects{
			& >:first-child{
			margin-left: 24px;
			}
			& > :nth-child(2){
			margin-left: 24px;
			margin-right: 0px;
			}
			display: flex;
			justify-content: space-between;
			flex-flow: wrap;

		}
		&__content{
			margin-top: 33px;
			&__temp-icon{
				background-image: url('../../assets/Placeholder/Academy-Weather-bg160.png');
				width: 160px;
				height: 160px;
				&__text{
					margin-top: 180px;
					margin-left: -5px;
					width: 240px;
					height: 24px;

					font-family: Ubuntu;
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 24px;
					color: #8083A4;
				}
			}
		}
	}
}